<!DOCTYPE html>
<html lang="<%=config.language%>">

<!-- head  -->
<head>
    <%- partial('_partials/head') %>
</head>
<!-- /head -->

<!-- body -->
<body>

    <% if(is_home()) {%>
    <!-- header -->
    <header class="header">
      <%-partial('_partials/header')%>
    </header>
    <!-- /header -->
    <% } %>


    <!-- main -->
    <div class="main">
        <%- body %>
    </div>
    <!-- /main -->
    
    
    <!-- footer -->
    <footer class="bottom animated fadeInUp">
        <%- partial('_partials/footer') %>
    </footer>
    <!-- /footer -->

    

    <% if(is_home()){ %>
      <%- js("/js/jquery-3.1.1.slim.min.js") %>
      <%- js("/js/biu.js") %>
    <% } %>
</body>
</html>
