<!DOCTYPE html>
<html lang="<%=config.language%>">

<!-- head  -->
<head>
    <%- partial('_partials/head') %>
</head>
<!-- /head -->

<!-- body -->
<body>

    <% if(is_home()) {%>
    <!-- header -->
    <header class="header">
      <%-partial('_partials/header')%>
    </header>
    <!-- /header -->
    <% } %>


    <!-- main -->
    <div class="main">
        <%- body %>
    </div>
    <!-- /main -->
    
    
    <!-- footer -->
    <footer class="bottom animated fadeInUp">
        <%- partial('_partials/footer') %>
    </footer>
    <!-- /footer -->

    <!-- back-top -->
  <div class="back">
      <a class="back-top" href="#" onclick="return false"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></a>
      <% if(is_post()) {%>
      <a class="back-home" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <% } %>
</div>

    <!-- /back-top -->

    
    <%- js("/js/iQuery.js") %>
    <%- js("/js/biu.js") %>
</body>
</html>
