<article class="tag-wrap">
  <h1><%=page.tag%></h1>
  <div class="tag-inner">
  <% page.posts.each(function(article) { %>
    <div class="tag-item">
      <% if (article.path) { %>
        <a href="<%=url_for(article.path)%>" target="_blank">
          <%=article.title || 'No Title'%>
        </a>
      <% } else { %>
        <a href="<%=url_for(article.path)%>">
          <%=article.title || 'No Title'%>
        </a>
      <% } %>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }); %>
</div>
</article>
<%-partial('_partials/pagination')%>
