<nav id="pagination">
  <% if (page.prev_link) { %>
    <a href="<%=url_for(page.prev_link)%>" class="prev">&larr; <%=_p('prev')%></a>
  <% } else if (page.prev && page.prev.path) { %>
    <a href="<%=url_for(page.prev.path)%>" class="prev">&larr; <%=_p('prev')%></a>
  <% } %>

  <% if (page.next_link) { %>
    <a href="<%=url_for(page.next_link)%>" class="next"><%=_p('next')%> &rarr;</a>
  <% } else if (page.next && page.next.path) { %>
    <a href="<%=url_for(page.next.path)%>" class="next"><%=_p('next')%> &rarr;</a>
  <% } %>
</nav>
